<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<body>

    <div id="app">
        <input type="text" placeholder="请输入内容" v-model="message">
        <button v-on:click="addItem">点击我</button>
        <ul>
            <li v-for="item in dataList">
                {{ item }}
            </li>
        </ul>

        <span v-bind:title="title">鼠标悬浮</span>
        <div v-if="boo">显示吗</div>
    </div>
</body>

<script>

    var app = new Vue({
        el: '#app',
        data: {
            boo: false,
            title:'页面加载于 ' + new Date().toLocaleString(),
            message: '',
            dataList:[]
        },
        methods: {
            addItem: function () {
             this.dataList.push(this.message);
             this.message ='';
            }
        }
    });
</script>



</html>