<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<body>

    <div id="app">
        <input type="text" placeholder="请输入内容" v-model="message">
        <button v-on:click="addItem">点击我</button>
        <ul>
            <todo-item  @child="deleteItem" v-bind:todo="item" v-bind:index="index"  v-for="(item,index) in dataList">
            </todo-item>
        </ul>
    </div>
</body>

<script>

    //组件化
    Vue.component('todo-item', {
        props:['todo','index'],
        template: '<li v-on:click="deleteThis">{{todo}}</li>',
        methods: {
            deleteThis: function () {
                // 第二个参数this.childValue是需要传的值
                // 触发父组件的事件
                this.$emit("child",this.index);
            }
        }
    });

    var app = new Vue({
        el: '#app',
        data: {
            message: '',
            dataList:[]
        },
        methods: {
            addItem: function () {
             this.dataList.push(this.message);
             this.message ='';
            },
            deleteItem: function (index) {
                this.dataList.splice(index,1);
            }
        }
    });
</script>
</html>