<!DOCTYPE html>
<html lang="en" xmlns:v-bind="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<!--<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>-->
<script src="vue.js"></script>


<body>

        <div id="app">
            <div v-if="show==='aaa'">aaa</div>
            <div v-else-if="show==='bbb'">bbb</div>
            <div v-else>ccc</div>
        </div>


        <div id="app2">
            <div v-if="show">a1</div>
            <div v-else>b1</div>
        </div>
</body>

<script>
    var vm = new Vue({
        el: '#app',
        data:{
            show:'aaa'
        },
        methods:{
            addToDo:function (data) {
                if(this.message == null || this.message === ''){
                    console.log(this.message)
                    return;
                }
                this.toDoList.push(this.message);
                this.message = '';
            }
        }
    });

    var vm2  = new Vue({
        el: '#app2',
        data:{
            show:'aaa'
        },
        methods:{
            addToDo:function (data) {
                if(this.message == null || this.message === ''){
                    console.log(this.message)
                    return;
                }
                this.toDoList.push(this.message);
                this.message = '';
            }
        }
    });
    //定时器里面传时间
    // setTimeout(function () {
    //     vm.$data.message='bye world'
    // },2000);
</script>



</html>